@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@import "tailwindcss";

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.container-padding {
  padding: 50px 146px;
}

.font-plus-jakarta {
  font-family: "Plus Jakarta Sans", "sans-serif";
}
